@font-face {
    font-family: 'roihu';
    src: url(/static/fonts/Roihu-Regular.otf);
}

html{
    height: 100%; 
    sans-serif;
}
body{
    height: 100%;
    font-family: 'roihu';
    background-color: #fff;
    color: #000;
}
.container{
    width: 90% !important
}

/*~~ Home ~~*/
#home{
  background: url('/static/img/note.png') no-repeat center center ; 
  background-color: rgba(255, 255, 255, .2)
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%;
  -o-background-size: cover;
  background-size: cover; 
}

#home #name-form{
  padding-top: 100px
}

#home #name-form input{
  font-size: 30px
}


#songs{
  background: #fff ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%;
  -o-background-size: cover;
  background-size: cover; 
}

#songs .play-song{
    width: 100%;
    margin-top: 35px
}

#songs .impression img{
    width: 80px;
    cursor: pointer;
}

#songs .impression{
    padding: 20px;
    padding-top: 35px
}

#songs #like{
    margin-left: 5%;
    width: 45%
}

#songs #next{
    margin-right: 5%;
    width: 45%
}